body * {
	font-family: "futura";
	font-size: 24px;
	text-align: center;
	overflow: auto;
}

#content {
	max-height: 210px;
	overflow-y: auto;

	width: 400px;
	overflow-x: hidden;
}

.clipboard-text-current-selection {
	color: darkred;
}

#clipboard-table {
	width: 100%;
}

#clipboard-table * {
	font-size: 18px;
}

table  {
	border-collapse: collapse;
	margin-bottom: 24px;
}

td, th {
	font-size: 18px;
	border: 1px solid;
}